{% extends "_layouts/default" %}

{% block bodyclass %}actueel{% endblock %}

{% block content %}

{% set nieuws = craft.entries()
    .section('actueel')
    .orderBy('postDate DESC')
    .limit(16)
    %}

{% paginate nieuws as pageInfo, posts %}

<div class="mainContent">
    <div class="container">
        <div class="grid">
            <header class="grid__header grid__header--flex">
                <h1 class="compactTitle">Actueel</h1>

                <a class="button button--black button--down button--tiny" href="#agenda">Naar agenda</a>
            </header>

            <div class="grid__content grid">
    {# nieuws #}
                <section class="nieuwsOverzicht" id="nieuws">
                    <header>
                        <div class="content">
                            <h2>Nieuws</h2>
                        </div>
                    </header>

                    <div class="cardsGrid">
                        {% for entry in posts %}
                            <a class="card{% if loop.first %} card--color:blue card--layered card--double{% endif %}" href="{{ entry.url }}">
                                {# Set img: use entry.image if available, else check entry.contentBlocks for an image in 'contentblock' or 'contentblockImage' #}
                                {% set imgAsset = entry.image is defined and entry.image|length
                                    ? entry.image
                                    : (entry.contentBlocks is defined
                                        ? entry.contentBlocks
                                            |filter(block => (block.type == 'contentblock' or block.type == 'contentblockImage') and block.image is defined and block.image|length)
                                            |first
                                            ? entry.contentBlocks
                                                |filter(block => (block.type == 'contentblock' or block.type == 'contentblockImage') and block.image is defined and block.image|length)
                                                |first
                                                .image
                                            : null
                                        : null)
                                %}
                                
                                {% import '_macros/_image.twig' as img %}
                                
                                {% if imgAsset %}
                                    <div class="card__image">
                                        {% if loop.first %}
                                        {{ img.responsiveImage(imgAsset, { maxWidth: 800, cropMode: 'crop', aspectRatio: '4:3' }) }}
                                        {% else %}
                                        {{ img.responsiveImage(imgAsset, { maxWidth: 360, cropMode: 'crop', aspectRatio: '4:3' }) }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <div class="card__header">
                                    <span class="card__header__title">{{ entry.title }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                    <footer class="pagination">
                        <span class="label">{{ pageInfo.first }}–{{ pageInfo.last }} van {{ pageInfo.total }} berichten</span>

                        <nav role="navigation" aria-label="Berichten paginering">
                        {% if pageInfo.getPrevUrl() %}
                            <a class="button button--tiny button--blueOutlined button--backward" href="{{ pageInfo.getPrevUrl() }}">Vorige pagina</a>
                        {% endif %}
                        {% if pageInfo.getNextUrl() %}
                            <a class="button button--tiny button--blueOutlined button--forward" href="{{ pageInfo.getNextUrl() }}">Volgende pagina</a>
                        {% endif %}
                        </nav>

                    </footer>
                </section>
    {# agenda #}
                <section class="agendaOverzicht" id="agenda">
                    <header>
                        <div class="content">
                            <h2>Agenda</h2>
                        </div>
                    </header>
                
                    {% include "_components/_agendalist" %}
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}