{% extends "_layouts/default" %}

{% block bodyclass %}actueel{% endblock %}

{% block content %}

{% set nieuws = craft.entries()
    .section('actueel')
    .orderBy('postDate desc')
    .limit(40)
    .all() %}

<div class="mainContent">
    <div class="container">
        <div class="grid">
            <header class="grid__header grid__header--flex">
                <h1 class="compactTitle">Actueel</h1>

                <a class="button button--black button--down button--tiny" href="#agenda">Naar agenda</a>
            </header>

            <div class="grid__content grid">
    {# nieuws #}
                <section class="nieuwsOverzicht" id="nieuws">
                    <header>
                        <div class="content">
                            <h2>Nieuws</h2>
                        </div>
                    </header>

                    <div class="cardsGrid">
                        {% for entry in nieuws %}
                        {% if loop.first %}
                            <a class="card card--color:blue card--layered card--double" href="{{ entry.url }}">
                                <div class="card__header">
                                    <span class="card__header__title">{{ entry.title }}</span>
                                </div>

                                {% if entry.image is defined and entry.image|length %}
                                {% import '_macros/_image.twig' as img %}
                                <div class="card__image">
                                    {{ img.responsiveImage(entry.image, {
                                        maxWidth: 800,
                                        cropMode: 'crop',
                                        aspectRatio: '4:3'
                                    }) }}
                                </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <a class="card" href="{{ entry.url }}">
                                {% if entry.image is defined and entry.image|length %}
                                {% import '_macros/_image.twig' as img %}
                                <div class="card__image">
                                    {{ img.responsiveImage(entry.image, {
                                        maxWidth: 360,
                                        cropMode: 'crop',
                                        aspectRatio: '4:3'
                                    }) }}
                                </div>
                                {% endif %}

                                <div class="card__header">
                                    <span class="card__header__title">{{ entry.title }}</span>
                                </div>
                            </a>
                        {% endif %}

                        {% endfor %}
                    </div>
                </section>
    {# agenda #}
                <section class="agendaOverzicht" id="agenda">
                    <header>
                        <div class="content">
                            <h2>Agenda</h2>
                        </div>
                    </header>
                
                    {% include "_components/_agendalist" %}
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}