{% set blocks = craft.entries()
    .section('overzichtBlokken')
    .orderBy('postDate desc')
    .limit(40)
    .all() %}

<div class="article__highlights">
    <div class="highlights">
        {% if blocks %}
        {% for block in blocks %}
        <div class="card card--color:{{ block.blockColor }} card--{{ block.blockType }}">
            <div class="card__header">
                <span class="card__header__label">{{ block.label }}</span>
                <span class="card__header__title">{{ block.title }}</span>
            </div>

            <div class="card__image">
            {% if block.image is defined and block.image|length %}
                {% import '_macros/_image.twig' as img %}

                {{ img.responsiveImage(block.image, {
                    maxWidth: 690,
                    cropMode: 'crop',
                    aspectRatio: '4:3'
                }) }}
                {% endif %}
            </div>

            <div class="card__main">
                <span class="card__main__text">{{ block.blockText|raw }}</span>
            </div>

            {% if block.buttonLink is defined and block.buttonLink  %}
            <div class="card__footer">
                <a class="button button--small button--{{ (block.buttonLink.type is defined and block.buttonLink.type is not empty) ? block.buttonLink.type : 'forward' }} button--{{ block.blockColor }}" href="{{ block.buttonLink.url }}" >
                    {% if block.buttonLink.label is defined and block.buttonLink.label is not empty %}
                        {{ block.buttonLink.label }}
                    {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
